body{
    width: 100%;
    height: 100%;
    background-color: rgb(93, 93, 93);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#nadKodem{
    padding-bottom: 100px;
    margin-top: 100px;
    font-weight: bolder;
    font-size: 400%;
}
#kod{
    border: slategray solid 2px;
    margin: auto;
    height: 120px;
    display: flex;
    flex-direction: column;
}
#zatwierdzKod{
    width: 400px;
    height: 40px;
    font-size: 110%;
    background-color: rgb(187, 187, 187);
}
#zatwierdzKod:active{
    background-color: rgb(122, 122, 122);
    font-size: 120%;
}
#zatwierdzKod:after{
    font-size: 110%;
    background-color: rgb(187, 187, 187);
}
#wpisywanyKod{
    font-size: 280%;
    width: 400px;
    height: 80px;
    background-color: rgb(187, 187, 187);
    text-align: center;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
}
#head1{
    width: 97%;
}
#ikonkaLogowania{
    margin-top: 10px;
    width: 50px;
    height: 40px;
}
